.campuses-header {
  display: flex;
  justify-content: space-between;
}

.campus-card-container {
  background-color: #ddd;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.campus-card {
  background-color: grey;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 20px;
  width: 450px;
  align-items: flex-start;
  flex-wrap: wrap;
}

img.campus-card-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 1px solid #999;
  border-radius: 0.5rem;
  background-color: white;
}

.campus-card-text {
  flex: 1;
}

.campus-card-header {
  padding-bottom: 5px;
}

button,
.btn {
  background-color: #30d6ff;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

button.delete,
.btn-delete {
  background-color: #f28b82;
  color: black;
}

button.edit,
.btn-edit {
  background-color: #81c995;
  color: black;
}

.btns {
  display: flex;
  justify-content: space-between;
}
