.navbar {
  background-color: rgb(184, 22, 122);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
  padding: 0 1rem;
}

.navbar-container {
  display: flex;
  justify-content: flex-start; /* Align links to the left */
  align-items: center;
  height: 100%;
  gap: 1rem; /* Space between links */
}

.nav-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  font-family: sans-serif;
  line-height: 60px; /* vertically center text */
  padding: 0 10px;
}

.nav-link:hover {
  color: #ccc;
}
