body {
  font-family: monospace;
  background-color: #eee;
  color: #000;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}
h1, h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.app {
  padding: 2rem;
  background-color: black;
  border-radius: 8px;
  max-width: 1200px;
  margin: 2rem auto;

}

a {
  color: #2a63c2;
  text-decoration: underline;
}

nav {
  background-color: #ccc;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  border-bottom: 2px solid #999;
  align-items: center;
}

nav a {
  color: #000;
  font-weight: bold;
}

button, .btn {
  background-color: #30d6ff;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

button.delete, .btn-delete {
  background-color: #f28b82;
  color: black;
}

button.edit, .btn-edit {
  background-color: #81c995;
  color: black;
}

form input, select {
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0.5rem 0;
  width: 100%;
}

form label {
  font-weight: bold;
  margin-top: 1rem;
  display: block;
}

form .error {
  border: 2px solid red;
  background-color: #ffe6e6;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;            
}

form .error-message {
  color: red;
  font-size: 0.9rem;
}

.card {
  background-color: #ddd;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  background: white;
  border: 1px solid #999;
  border-radius: 5px;      
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);  
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
}
.student-campus img,
.campus-card img {
  border-radius: 4px;
  margin-right: 10px;
}

.change-campus {
  margin-top: 1rem;
}

.alert {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
  font-weight: bold;
}

.loader {
  border: 5px solid #ccc;
  border-top: 5px solid #30d6ff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 2rem auto;
}

